---
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Footer from "../components/Footer.astro";
import AboutSystem from "../components/AboutSystem.astro";
import CTA from "../components/CTA.astro";
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Slider from "../components/Slider.astro";
import ServicesCard from "../components/ServicesCard.astro";
import CarouselServices from "../components/CarouselServices";
import DevicesShowcase from "../components/DevicesShowcase.astro";

const features = [
	"✅ Creación, actualización y eliminación de usuarios.",
	"✅ Asignación y revocación de permisos de manera flexible.",
	"✅ Gestión de roles y control de acceso a distintas vistas.",
	"✅ Filtrado y exportación de información en formatos PDF y CSV.",
	"✅ Personalización del perfil con imagen y datos personales.",
];

const features2 = [
	"✅ Gestión completa de productos: Creación, modificación y eliminación de productos con sus respectivos datos e imagen identificativa.",
	"✅ roductos compuestos: Administración de productos que dependen de materiales para su elaboración, calculando automáticamente su costo de producción.",
	"✅ Control de stock: Registro de existencias en bodega y actualización en tiempo real.",
	"✅ Categorías y organización: Creación de categorías para agrupar productos de manera eficiente.",
	"✅ Órdenes y facturación: Generación de órdenes a partir de los productos disponibles, venta de productos y emisión de facturas.",
	"✅ Carrito de compras: Sistema de facturación basado en una selección de productos.",
	"✅ Disponibilidad y búsqueda: Filtros avanzados y buscador para localizar productos rápidamente.",
];

const features4 = [
	"✅ Creación y gestión de bodegas: Definición y administración de bodegas, con la posibilidad de crear tantas como se necesiten para diferentes tipos de productos y materiales.",
	"✅ Control de inventario por bodega: Registro y seguimiento de los productos y materiales almacenados en cada bodega, con detalles sobre lo que se está guardando.",
	"✅ Ubicación de productos: Organización de cada bodega en secciones específicas, para una gestión más eficiente del espacio y los productos.",
	"✅ Movimientos de materiales: Control total de las entradas y salidas de materiales y productos de la bodega, con historial detallado de los movimientos.",
	"✅ Actualización de bodegas: Posibilidad de registrar, modificar o eliminar bodegas conforme cambian las necesidades del sistema.",
];

const features5 = [
	"1) Módulo de Mesas:",
	"✅ Administración de mesas del local, permitiendo asignar mesas a órdenes de clientes.",
	"✅ Modificación de información de las mesas (estado, ubicación, etc.).",
	"✅ Consulta en tiempo real de las mesas disponibles para gestionar las órdenes de manera eficiente.",
	"2) Módulo de Métodos de Pago:",
	"✅ Creación y gestión de métodos de pago personalizados para el negocio.",
	"✅ Modificación y configuración de los métodos de pago según las necesidades del local.",
	"✅ Control total sobre las opciones de pago disponibles para los clientes.",
	"Módulo de Empresas de Domicilio:",
	"✅ Registro y gestión de empresas de domicilio asociadas al negocio.",
	"✅ Gestión de información de las empresas de reparto para realizar entregas de productos comprados por los clientes.",
];

const features6 = [
	"✅ Selección de productos: Visualización de productos disponibles para escoger y agregar a la orden de venta.",
	"✅ Gestión de cantidades y precios: Selección de cantidades y visualización automática del valor total de la orden.",
	"✅ Creación de órdenes y ventas: Posibilidad de crear una orden con uno o más productos, facturar directamente un pedido o realizar una venta inmediata.",
	"✅ Selección de mesa y cliente: Opción de asociar la venta a una mesa (para restaurantes) y seleccionar el cliente correspondiente.",
	"✅ Métodos de pago: Elección de los métodos de pago disponibles y asociación a la venta.",
	"✅ Confirmación y facturación: Confirmación de la venta u orden y emisión de factura descargable en formato PDF.",
	"✅ Búsqueda avanzada de productos: Filtros por categoría para localizar productos fácilmente.",
	"✅ Control de stock: Verificación en tiempo real de los productos disponibles según la cantidad en stock y los materiales en bodega.",
];

const features7 = [
	"✅ Visualización de órdenes: Consulta del estado de cada orden, incluyendo mesa, cliente y productos asignados.",
	"✅ Detalles de pagos: Registro y visualización de las referencias de pago asociadas a cada orden.",
	"✅ Detalles de pagos: Registro y visualización de las referencias de pago asociadas a cada orden.",
	"✅ Facturación y descarga: Generación de facturas en formato PDF o CSV para cada orden realizada.",
	"✅ Búsqueda avanzada: Filtros por fecha, estado de la orden y otros criterios para localizar rápidamente cualquier pedido.",
	"✅ Gestión de estados: Posibilidad de cancelar o completar órdenes, realizando el pago correspondiente y facturando el pedido.",
	"✅ Control de pagos: Visualización detallada de los pagos realizados por cada orden y su estado.",
];
---

<!-- <head>
  <title></title>
</head> -->
<Layout>
	<Navbar client:load />

	<Hero />

	<div class="w-full flex justify-end mt-10 px-16">
		<div class="max-w-md w-full bg-[#0C69A3] p-6 text-center rounded-2xl">
			<h3
				class="text-2xl sm:text-3xl font-extrabold text-white uppercase tracking-wide mb-2"
			>
				Smart Invent Hub
			</h3>
			<span class="text-base sm:text-lg text-gray-300">
				Software de inventario moderno y eficiente
			</span>
		</div>
	</div>

	<div
		class="w-full relative mb-20 bg-white overflow-hidden px-4 sm:px-6 lg:px-20 py-20"
	>
		<!-- Encabezado -->

		<!-- Contenido -->
		<div
			class="max-w-8xl mx-auto flex flex-col lg:flex-row items-start justify-between gap-40"
		>
			<!-- Imagen -->
			<div class="w-full lg:w-1/2 flex justify-center">
				<div class="relative w-full max-w-2xl">
					<!-- Fondo desplazado -->
					<div
						class="absolute -left-6 -top-10 w-full h-full bg-success rounded-3xl -z-10 shadow-lg"
					>
					</div>

					<!-- Imagen -->
					<div class="bg-[#0C69A3] rounded-3xl overflow-hidden">
						<img
							src="software.png"
							alt="Software"
							class="w-full h-auto object-contain"
						/>
					</div>
				</div>
			</div>

			<!-- Carrusel -->
			<div class="w-full lg:w-1/2 flex justify-center">
				<CarouselServices client:load />
			</div>
		</div>
	</div>

	<div class="w-full bg-[#014771] px-6 md:px-16 lg:px-32 py-0 mb-20">
		<div
			class="flex flex-col-reverse lg:flex-row items-center justify-between gap-8"
		>
			<!-- Texto -->
			<div class="w-full lg:w-1/2 text-center lg:text-left">
				<h2 class="text-3xl md:text-4xl font-bold text-amber-500 mb-4">
					Smart Inventory
				</h2>
				<p class="text-white text-base md:text-lg leading-relaxed">
					Desarrollar una plataforma que permita gestionar
					eficientemente las ventas, inventario, clientes y reportes
					de una empresa comercial, optimizando el proceso de compra y
					toma de decisiones.
				</p>
			</div>

			<!-- Imagen -->
			<div class="w-full lg:w-1/2 flex justify-center">
				<img
					src="smart.png"
					alt="Smart Inventory"
					class="max-w-xs md:max-w-sm lg:max-w-lg scale-150 -mt-10 -lg:mt-20"
				/>
			</div>
		</div>
	</div>

	<Features />
	<AboutSystem />

	<!-- <DevicesShowcase />

	<Slider />
	<Testimonials />
	<CTA /> -->

	<Footer />

	<!-- <div class="w-full h-screen bg-gradient-to-l from-[#8f94fb] to-[#4e54c8]">
	</div> -->
</Layout>
