---
---
<section class="w-full min-h-screen bg-gradient-to-r from-sky-900 to-sky-500 flex items-center mb-28">
    <div class="w-[85%] mx-auto flex flex-col md:flex-row justify-between items-center gap-20">
        
        <!-- Imagen -->
        <div class="w-full md:w-1/2">
            <img src="pc2.png" class="w-[85%] rounded-full" alt="Gestión de inventario">
        </div>

        <!-- Texto -->
        <div class="w-full md:w-1/2">
            <h3 class="text-4xl font-bold text-green-500">Nuestros Servicios</h3>
            <div class="h-0.5 w-full bg-sky-700 my-4"></div>
            <p class="text-lg text-white">
                En <span class="font-semibold">Smart Inventory Hub</span>, ofrecemos soluciones avanzadas para gestionar tu negocio de manera eficiente.  
                Con nuestra plataforma, puedes acceder a:
            </p>
            
            <ul class="list-disc pl-6 text-xl space-y-2 mt-4 text-white">
                <li><span class="font-semibold">Facturación electrónica:</span> <span class="text-white/80 text-base">Genera y administra facturas digitales de manera rápida y segura.</span></li>
                <li><span class="font-semibold">Sistema POS integrado:</span> <span class="text-white/80 text-base">Facilita tus ventas con un punto de venta intuitivo y eficiente.</span></li>
                <li><span class="font-semibold">Gestión de inventario:</span> <span class="text-white/80 text-base">Controla en tiempo real el stock de productos y evita pérdidas.</span></li>
                <li><span class="font-semibold">Reportes inteligentes:</span> <span class="text-white/80 text-base">Obtén análisis detallados para mejorar la toma de decisiones.</span></li>
                <li><span class="font-semibold">Alertas automatizadas:</span> <span class="text-white/80 text-base">
                    Recibe notificaciones sobre productos agotados o movimientos inusuales.</span></li>
                <li><span class="font-semibold">Manejo de clientes y proveedores:</span> <span class="text-white/70 text-lg">Organiza y administra toda la información desde un solo lugar.</span></li>
                <li><span class="font-semibold">Seguridad avanzada:</span> <span class="text-white/80 text-base">Protege tus datos con cifrado y acceso controlado por roles.</span></li>
            </ul>
            
        </div>
        
    </div>
</section>
