<section
  class="flex flex-col items-center px-4 sm:px-6 lg:px-20 bg-white text-center w-full max-w-7xl mx-auto mt-20 mb-36"
>
  <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-16 text-sky-950">
    Planes de Suscripción
  </h2>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 w-full scale-90 2xl:scale-100"
  >
    <!-- Card 1: Plan Básico -->
    <div class="max-w-xs mx-auto">
      <div
        class="relative bg-gradient-to-r from-white to-green-200/40 shadow-lg rounded-2xl p-8 border border-gray-300"
      >
        <div
          class="absolute top-0 left-0 w-20 h-20 border-t-2 border-l-2 border-green-400 rounded-tl-2xl"
        >
        </div>
        <div
          class="absolute top-0 right-0 w-20 h-20 border-t-2 border-r-2 border-green-400 rounded-tr-2xl"
        >
        </div>
        <div
          class="absolute bottom-0 left-0 w-20 h-20 border-b-2 border-l-2 border-green-400 rounded-bl-2xl"
        >
        </div>
        <div
          class="absolute bottom-0 right-0 w-20 h-20 border-b-2 border-r-2 border-green-400 rounded-br-2xl"
        >
        </div>

        <div class="relative">
          <h2 class="text-3xl font-bold mb-2 text-gray-800">Plan Básico</h2>
          <h3 class="text-2xl font-semibold mb-6 text-green-600">
            Ideal para empezar
          </h3>
          <p class="text-lg text-gray-600 mb-8">
            Accede a funciones esenciales para iniciar tu negocio.
          </p>

          <div class="flex flex-wrap gap-3 mb-8 text-gray-600">
            <span
              class="px-4 py-2 rounded-full bg-gradient-to-r from-green-300/10 to-green-600/10 hover:from-green-300/10 hover:to-green-600/40 border border-gray-300 hover:border-green-500 hover:scale-110 transition-transform cursor-pointer"
            >
              Funcionalidad Básica
            </span>
          </div>

          <div class="flex-row md:flex-col space-y-3 gap-10">
            <a
              href="#"
              class="group inline-flex items-center justify-center gap-2 px-6 py-3 rounded-full bg-green-600 hover:opacity-90 transition-opacity text-white"
            >
              Adquirir Plan
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                class="group-hover:rotate-12 transition-transform duration-300"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                ></path>
                <polyline points="15 3 21 3 21 9"></polyline>
                <line x1="10" y1="14" x2="21" y2="3"></line>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2: Plan Profesional -->
    <div class="max-w-xs mx-auto">
      <div
        class="relative bg-gradient-to-r from-white to-green-200/40 shadow-lg rounded-2xl p-8 border border-gray-300"
      >
        <div
          class="absolute top-0 left-0 w-20 h-20 border-t-2 border-l-2 border-green-400 rounded-tl-2xl"
        >
        </div>
        <div
          class="absolute top-0 right-0 w-20 h-20 border-t-2 border-r-2 border-green-400 rounded-tr-2xl"
        >
        </div>
        <div
          class="absolute bottom-0 left-0 w-20 h-20 border-b-2 border-l-2 border-green-400 rounded-bl-2xl"
        >
        </div>
        <div
          class="absolute bottom-0 right-0 w-20 h-20 border-b-2 border-r-2 border-green-400 rounded-br-2xl"
        >
        </div>

        <div class="relative">
          <h2 class="text-3xl font-bold mb-2 text-gray-800">
            Plan Profesional
          </h2>
          <h3 class="text-2xl font-semibold mb-6 text-green-600">
            Para negocios establecidos
          </h3>
          <p class="text-lg text-gray-600 mb-8">
            Accede a herramientas avanzadas y soporte personalizado.
          </p>

          <div class="flex flex-wrap gap-3 mb-8 text-gray-600">
            <span
              class="px-4 py-2 rounded-full bg-gradient-to-r from-green-300/10 to-green-600/10 hover:from-green-300/10 hover:to-green-600/40 border border-gray-300 hover:border-green-500 hover:scale-110 transition-transform cursor-pointer"
            >
              Soporte Prioritario
            </span>
          </div>

          <div class="flex-row md:flex-col space-y-3 gap-10">
            <a
              href="#"
              class="group inline-flex items-center justify-center gap-2 px-6 py-3 rounded-full bg-green-600 hover:opacity-90 transition-opacity text-white"
            >
              Adquirir Plan
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                class="group-hover:rotate-12 transition-transform duration-300"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                ></path>
                <polyline points="15 3 21 3 21 9"></polyline>
                <line x1="10" y1="14" x2="21" y2="3"></line>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 3: Plan Empresarial -->
    <div class="max-w-xs mx-auto">
      <div
        class="relative bg-gradient-to-r from-white to-green-200/40 shadow-lg rounded-2xl p-8 border border-gray-300"
      >
        <div
          class="absolute top-0 left-0 w-20 h-20 border-t-2 border-l-2 border-green-400 rounded-tl-2xl"
        >
        </div>
        <div
          class="absolute top-0 right-0 w-20 h-20 border-t-2 border-r-2 border-green-400 rounded-tr-2xl"
        >
        </div>
        <div
          class="absolute bottom-0 left-0 w-20 h-20 border-b-2 border-l-2 border-green-400 rounded-bl-2xl"
        >
        </div>
        <div
          class="absolute bottom-0 right-0 w-20 h-20 border-b-2 border-r-2 border-green-400 rounded-br-2xl"
        >
        </div>

        <div class="relative">
          <h2 class="text-3xl font-bold mb-2 text-gray-800">
            Plan Empresarial
          </h2>
          <h3 class="text-2xl font-semibold mb-6 text-green-600">
            Para grandes corporaciones
          </h3>
          <p class="text-lg text-gray-600 mb-8">
            Soluciones personalizadas para empresas a gran escala.
          </p>

          <div class="flex flex-wrap gap-3 mb-8 text-gray-600">
            <span
              class="px-4 py-2 rounded-full bg-gradient-to-r from-green-300/10 to-green-600/10 hover:from-green-300/10 hover:to-green-600/40 border border-gray-300 hover:border-green-500 hover:scale-110 transition-transform cursor-pointer"
            >
              Integración Avanzada
            </span>
          </div>

          <div class="flex-row md:flex-col space-y-3 gap-10">
            <a
              href="#"
              class="group inline-flex items-center justify-center gap-2 px-6 py-3 rounded-full bg-green-600 hover:opacity-90 transition-opacity text-white"
            >
              Adquirir Plan
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                class="group-hover:rotate-12 transition-transform duration-300"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                ></path>
                <polyline points="15 3 21 3 21 9"></polyline>
                <line x1="10" y1="14" x2="21" y2="3"></line>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
