---

---

<!--Start Background Animation Body--><!-- <div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div> -->
<section
    class="pt-14 bg-gradient-to-r from-sky-900 to-sky-700 text-white h-screen px-6 w-full flex items-center"
>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="flex justify-between mx-auto w-[90%] items-center gap-10">
        <div class="w-full flex flex-col items-start space-y-6">
            <h1 class="text-7xl font-extrabold text-white leading-tight relative">
                Bienvenido
                <span class="absolute px-4 py-1 rounded-full bg-amber-600 text-black text-base font-semibold top-0 -right-16 transform rotate-12">
                    S.I.H
                </span>
            </h1>
            <p class="text-4xl font-semibold text-gray-300 max-w-3xl">
                Sistema POS con facturación electrónica
            </p>
            <p class="text-lg text-gray-200 mb-6">
                –
                Potencia tu negocio con nuestra solución integral.<br />
                Gestiona tus productos y ventas con un sistema POS avanzado, <span class="underline">
                    integrado
                con facturación electrónica para un control total y eficiente.
                </span>
            </p>
        
            <a
                href="#contacto"
                class="bg-gradient-to-r from-blue-500 to-indigo-600 text-white px-8 py-4 rounded-full font-semibold shadow-lg transform transition-transform hover:scale-105"
            >
                ¡Prueba Gratis!
            </a>
        </div>
        
        <div class="w-full flex justify-center items-center">
            <!-- Blobs de fondo -->
            <div class="absolute inset-0 flex justify-center items-center">
                <div
                    class="animate-blob absolute left-20 top-10 h-72 w-72 rounded-full bg-[#9675D0] opacity-40 mix-blend-multiply blur-3xl"
                >
                </div>
                <div
                    class="animate-blob animation-delay-2000 absolute right-20 top-40 h-80 w-80 rounded-full bg-[#fdc6bb] opacity-50 mix-blend-multiply blur-3xl"
                >
                </div>
                <div
                    class="animate-blob animation-delay-4000 absolute bottom-10 left-1/4 h-72 w-72 rounded-full bg-[#7ec7b1] opacity-50 mix-blend-multiply blur-3xl"
                >
                </div>
            </div>

            <!-- Imagen principal -->
            <img
                class="relative z-10 w-full scale-125 max-w-full drop-shadow-2xl rounded-full"
                src="smart.png"
                alt="Computadora"
            />  
        </div>
    </div>
</section>
