---

---

<!--Start Background Animation Body--><!-- <div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div> -->
<section
    class="pt-14 bg-gradient-to-r from-sky-900 to-sky-500 text-white h-screen px-6 w-full flex items-center"
>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="flex justify-between mx-auto w-[90%] items-center gap-10">
        <div class="w-full flex flex-col">
            <h1
                class="text-7xl text-left font-bold mb-4 text-blue-300 relative"
            >
                Bienvenido <span
                    class="text-lg absolute px-2 rounded-full bg-amber-600 text-black"
                    >S.I.H</span>
            </h1>
            <p class="text-lg mb-6 text-left">
                <span class="text-xl font-semibold">Smart Inventory Hub</span> –
                Potencia tu negocio con nuestra solución integral.<br />
                Gestiona tus productos y ventas con un sistema POS avanzado, integrado
                con facturación electrónica para un control total y eficiente.
            </p>

            <a
                href="#contacto"
                class="bg-white text-blue-600 w-40 px-6 py-3 rounded-full font-bold"
            >
                ¡Prueba Gratis!
            </a>
        </div>
        <div class="w-full flex justify-center items-center">
            <!-- Blobs de fondo -->
            <div class="absolute inset-0 flex justify-center items-center">
                <div
                    class="animate-blob absolute left-20 top-10 h-72 w-72 rounded-full bg-[#9675D0] opacity-40 mix-blend-multiply blur-3xl"
                >
                </div>
                <div
                    class="animate-blob animation-delay-2000 absolute right-20 top-40 h-80 w-80 rounded-full bg-[#fdc6bb] opacity-50 mix-blend-multiply blur-3xl"
                >
                </div>
                <div
                    class="animate-blob animation-delay-4000 absolute bottom-10 left-1/4 h-72 w-72 rounded-full bg-[#7ec7b1] opacity-50 mix-blend-multiply blur-3xl"
                >
                </div>
            </div>

            <!-- Imagen principal -->
            <img
                class="relative z-10 w-full max-w-full drop-shadow-2xl rounded-full"
                src="pc2.png"
                alt="Computadora"
            />  
        </div>
    </div>
</section>
